        /* Reset e estilos gerais */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif
        }
      
        :root {
            --primary-color: #2c3e50;
            --secondary-color: #3498db;
            --accent-color: #e74c3c;
            --light-color: #ecf0f1;
            --dark-color: #2c3e50;
            --text-color: #ffffff;
            --text-light: #fff;
        }
        ::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #0c0c0c;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
        background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
             box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
             transition: background 0.3s ease;
            border-radius: 6px;
}
        ::selection{
            background-color: rgba(65, 65, 65, 0.534);
        }
       @font-face {
            font-family: 'Akira Expanded';
            src: url('fonts/Akira\ Expanded\ Demo.otf'), /* Formato moderno */
       }
        body {
            background-color: #f9f9f9;
            color: var(--text-color);
            line-height: 1.6;
        }
        
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;
        }
        
        section {
            padding: 80px 0;
        }
        
        h1, h2, h3, h4 {
            margin-bottom: 20px;
            font-weight: 700;
            font-family: 'Akira Expanded', sans-serif;
        }
        
        h1 {
            font-size: 3rem;
        }
        
        h2 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 50px;
            position: relative;
            text-shadow: 1px 1px 50px rgba(255, 255, 255, 0.445);
        }
        
        h2::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background: linear-gradient(90deg, rgb(82, 82, 82) 0%, rgb(24, 22, 22) 100%);
        }
        
        p {
            margin-bottom: 20px;
            font-size: 1.1rem;
        }
        
        .btn {
            display: inline-block;
            padding: 12px 30px;
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: all 0.3s ease;
            cursor: pointer;   
            text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.753);
            font-family: 'Akira Expanded', sans-serif;

        }
        
        .btn:hover {  
            transform: translateY(-3px);
            
        }
        
        /* Header e Navegação */
        header {
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border-bottom: 1px solid rgba(255, 255, 255, 0);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px); /* Suporte para Safari */

        }
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            
        }
        
        .logo > img{
            width: 70px;    
        }
        .logo{
            font-family: 'Akira Expanded', sans-serif;
        }
        
        
        .nav-links {
            display: flex;
            list-style: none;
            
        }
        
        .nav-links li {
            margin-left: 30px;
        }
        
        .nav-links a {
            font-family: 'Akira Expanded', sans-serif;
            text-decoration: none;
            color: var(--text-color);
            font-weight: 500;
            transition: color 0.3s;

        }
        
        .nav-links a:hover {
            color: rgb(117, 117, 117);
        }
        
        .menu-toggle {
            display: none;
            cursor: pointer;
            font-size: 1.5rem;
        }
        
        /* Hero Section */
        .hero {
            background: linear-gradient(0deg, black 0%, rgb(36, 33, 33) 100%);
            color: var(--text-light);
            padding: 150px 0 100px;
            text-align: center;
        }
        
        .hero h1 {
            margin-bottom: 20px;
            animation: fadeIn 1s ease;
            text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.315);
        }
        
        .hero p {
            font-size: 1.3rem;
            max-width: 700px;
            margin: 0 auto 30px;
            animation: fadeIn 1.5s ease;
        }
        
        .hero-btns {
            animation: fadeIn 2s ease;
            margin-top: 5%;
       
        }
        
        .btn-secondary {
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
            margin-left: 15px;

        }
        
        .btn-secondary:hover {
            background-color: transparent;
            color: rgb(255, 255, 255);
        }
        
        /* Sobre */
        .about {
            background: linear-gradient(180deg, black 0%, black 100%);
            text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.445);
        }
        
        .about-content {
            display: flex;
            align-items: center;
            gap: 50px;
        }
        
        .about-text {
            flex: 1;
        }
        
        .about-image {
            flex: 1;
            text-align: center;
        }
        
        .about-image img {
            max-width: 100%;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
        
        /* Habilidades */
        .skills {
            background: linear-gradient(180deg, black 0%, rgb(0, 0, 0) 100%);

        }
        
        .skills-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
        }
        
        .skill-item {
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid transparent;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            transition: transform 0.3s;

}
        
        .skill-icon {
            font-size: 3rem;
            color: var(--secondary-color);
            margin-bottom: 20px;
            
        }
        
        /* Portfólio */
        .portfolio {
            background: linear-gradient(180deg, rgb(0, 0, 0) 0%,black 100%);
        }
        
        .portfolio-filters {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        
        .filter-btn {
            padding: 8px 20px;
            margin: 0 10px 10px;
            background: none;
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
            color: rgba(255, 255, 255, 0.418);
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.3s;
            font-weight: bold;
            font-family: 'Akira Expanded', sans-serif;
            
        }
        
        .filter-btn.active, .filter-btn:hover {
            background-color: rgba(112, 112, 112, 0.301);
            color: white;
        }
        
        .portfolio-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
        }
        
        .portfolio-item {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            height: 250px;
        }
        
        .portfolio-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
        
        .portfolio-item:hover img {
            transform: scale(1.1);
        }
        
        .portfolio-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s;
            padding: 20px;
            text-align: center;
            color: white;
        }
        
        .portfolio-item:hover .portfolio-overlay {
            opacity: 1;
        }
        
        /* Contato */
        .contact {
            background: linear-gradient(180deg, black 0%, rgb(0, 0, 0) 100%);
        }
        
        .contact-content {
            display: flex;
            gap: 50px;
            
        }
        
        .contact-info {
            flex: 1;
        }
        
        .contact-form {
            flex: 1;
        }
        
        .contact-item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        
        .contact-icon {
            font-size: 1.5rem;
            color: var(--secondary-color);
            margin-right: 15px;
        }
        
        .form-group {
            margin-bottom: 20px;
        }
        
        .form-control {
            width: 100%;
            padding: 12px 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid transparent;
            border-radius: 10px;
            color: white;
        }
        
        textarea.form-control {
            min-height: 150px;
            resize: vertical;
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid transparent;
            padding: 30px;
            border-radius: 10px;
            color: white;
            box-shadow: 0;
            outline: 0;

        }
        input[type="email"]:focus{
         box-shadow: 0;
            outline: 0;
         }
        input[type="text"]:focus{
            box-shadow: 0;
            outline: 0;
         }
        input[type="text-area"]:focus{
            box-shadow: 0;
            outline: 0;
         }
         input::placeholder{
            font-family: 'Akira Expanded', sans-serif;
        }
        textarea::placeholder { 
            font-family: 'Akira Expanded', sans-serif;
        }
        /* Footer */
        footer {
            background: linear-gradient(180deg, rgb(0, 0, 0) 0%,black 100%);
            color: white;
            padding: 50px 0 20px;
            text-align: center;
        }
        
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .social-links {
            display: flex;
            margin: 20px 0;
        }
        
        .social-links a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
             background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
            margin: 0 10px;
            color: white;
            text-decoration: none;
            transition: all 0.3s;
        }
        
        .social-links a:hover {
            background: linear-gradient(190deg, black, rgba(63, 63, 63, 0.158)) padding-box,
            linear-gradient(190deg, rgba(184, 184, 184, 0.438), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid rgba(255, 255, 255, 0);
            transform: translateY(-5px);
        }
        
        .copyright > p{
            margin-top: 20px;
            font-size: 0.5rem;
            opacity: 0.7;
        }
        
        /* Animações */
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }
        
        /* Responsividade */
        @media (max-width: 815px) {
            .menu-toggle {
                display: block;
            }
            
       .nav-links {
        position: fixed;
        top: 85px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background: rgba(0, 0, 0, 0.8); /* Fundo com transparência */
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 50px;
        transition: left 0.3s;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
        z-index: 999; /* Garante que o menu fique acima de outros elementos */
        isolation: isolate; /* Importante para o backdrop-filter funcionar */
    }
            
            .nav-links.active {
                left: 0;
            }
            
            .nav-links li {
                margin: 15px 0;
            }
            
            .about-content, .contact-content {
                flex-direction: column;
            }
            
            .hero h1 {
                font-size: 2.5rem;
            }
            
            h2 {
                font-size: 2rem;
            }
        }
 @media (max-width: 651px) {
    .btn-secondary{
        margin-top: 5px;
    }
 }
body {
    background: #000;
    position: relative;
}
section{
    position: relative;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.02),
        transparent
    );
    animation: lightSweep 15s linear infinite;
    pointer-events: none;
}

/* Efeito de grid */
section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 50px 50px;
    pointer-events: none;
}

/* Efeito especial para o hero */
.hero {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #1a1a1a, #000000);
    min-height: 100vh;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.212), rgba(63, 63, 63, 0)) padding-box,
            linear-gradient(0deg, rgba(65, 64, 64, 0), rgba(54, 54, 54, 0)) border-box;
            border: 1px solid transparent;
}
.hero .container {
    position: relative;
    z-index: 2;
}
/* Efeito de brilho nos cards */
.skill-item, .portfolio-item {
    position: relative;
    overflow: hidden;
}

.skill-item::before, .portfolio-item::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.1),
        transparent 70%
    );
    transform: rotate(0deg);
    animation: rotateBg 10s linear infinite;
    pointer-events: none;
}

/* Ajustes de profundidade (z-index) */
.container {
    position: relative;
    z-index: 0;
}

.nav-links, .btn, form input, form textarea {

    z-index: 0;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.02),
        transparent
    );
    animation: lightSweep 15s linear infinite;
    pointer-events: none;
}

/* Efeito de grid */
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 50px 50px;
    pointer-events: none;

}

#h1-hero{
    background: radial-gradient(
        circle at 50% 50%,
        rgb(255, 255, 255),
        transparent
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
    margin-top: 10%;
}
@media (max-width: 459px) {
    #h1-hero{
        font-size: 2rem;
        margin-bottom: 20%;
    }
    #contact{
        text-align: center;
        font-size: 1rem;
    }
    h2{
        font-size: 1.5rem;
    }
}

